:root {
  // Colors
  --white: #fff;
  --black: #000;
  --violet: #ced3ff;

  // Containers
  --container: 1200px;

  // Transitions
  --transition: all linear 0.2s;

  // Shadow
  --box-shadow: 0px 0px 4px rgba(40, 130, 181, 0.4);

  // Border
  --border: 1px solid #133a51;
}
